/* Default styles for all screen sizes */
.img-home {
    height: 500px;
    display: block;
    margin: 10px auto;
}

.area {
    display: flex;
    justify-content: space-around;
}

.sub-area {
    width: 45%;
}

.welcome-title {
    font-size: 3em;
    text-align: center;
    color: blueviolet;
    margin: 30px 0;
}

.text-area {
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
}

.box-contanier {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}

.boxes {
    width: 290px;
    height: 100px;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

.mt {
    margin-top: 12rem;
}
.icons{
    font-size: 30px;
    margin: 8px 10px;
    color: blueviolet;
    background-color: #ccc;
    width: fit-content;
    height: auto;
    padding: 0px 8px;
    padding-top: 3px;
    border-radius: 5px;
    border: 2px solid rgba(31, 36, 36, 0.486);
}

.icon-text{
    text-align:  center;
    font-size: 15px;
    font-weight: 600;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .area {
        flex-direction: column;
        align-items: center;
    }

    .sub-area {
        width: 100%;
    }

    .box-contanier {
        flex-direction: column;
        align-items: center;
    }

    .boxes {
        width: 80%;
        margin-bottom: 20px;
    }

    .mt {
        margin-top: 6rem;
    }
}
