/* Default styles for all screen sizes */
.img-home {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-area {
    width: 45%;
    margin: 10px 0;
}

.welcome-title {
    font-size: 2em;
    text-align: center;
    color: blueviolet;
    margin: 20px 0;
}

.text-area {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

.box-contanier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.boxes {
    width: 45%;
    height: 100px;
    margin: 10px 0;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

.mt {
    margin-top: 6rem;
}

.icons {
    font-size: 24px;
    margin: 8px 10px;
    color: blueviolet;
    background-color: #ccc;
    width: fit-content;
    height: auto;
    padding: 0px 8px;
    padding-top: 3px;
    border-radius: 5px;
    border: 2px solid rgba(31, 36, 36, 0.486);
}

.icon-text {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .area {
        flex-direction: column;
        align-items: center;
    }

    .sub-area {
        width: 80%;
    }

    .welcome-title {
        font-size: 1.5em;
    }

    .box-contanier {
        flex-direction: column;
        align-items: center;
    }

    .boxes {
        width: 80%;
    }

    .mt {
        margin-top: 3rem;
    }

    .icons {
        font-size: 18px;
    }

    .icon-text {
        font-size: 12px;
    }
}
